.cardGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media (min-width: 400px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
